@import "../../styles/variable";

.main {
  text-align: center;
  top: calc(30vh - 64px);
  position: absolute;
  width: 100%;
  transition: top 500ms cubic-bezier(0.83, 0.02, 0.15, 0.99);
}

.main.search {
  top: 50px;
  .result {
    width: 960px;
    margin: 20px auto;
    height: calc(100vh - 368px);
    position: relative;
  }
}
